# EmailJS (Contact Forms)
NEXT_PUBLIC_EMAILJS_SERVICE_ID=
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID_STARTUP=
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=


# Google Search Console
NEXT_PUBLIC_GOOGLE_VERIFICATION=
